/*General*/

body {
	background-color: #001219;
}



/*Header*/

.header-container {
	/*background-color: #94d2bd;*/
	background-color: white;
}

#header-nav {
	margin-bottom: 0;
	width: 127vw;
}

.navbar-header {
	height: 200px;
}

#profile-image {
	background: url("../images/su_wang_google_profile_picture.jpeg") no-repeat;
	background-size: contain;
	width: 150px;
	height: 150px;
	margin: 20px;
	border-radius: 50%;
}

#name-font {
	font-size: 50px;
	padding-top: 40px;
	padding-bottom: 20px;
}

#name-font h1:hover {
	text-decoration: none;
}

#title-font {
	font-size: 20px;
}

.profile-font {
	font-family: 'Montserrat', sans-serif;
	color: #495057;
	text-transform: uppercase;
}

#logo-image {
	width: 200px;
	height: 42px;
	padding-right: 20px;
}

/*Sections*/

.sections-container {
	font-family: 'Montserrat', sans-serif;
}

#sections-tiles{
	margin-bottom: auto;
}

#tile-list li {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	line-height: 30px;
	padding-right: 10px;
	padding-left: 10px;
}

#intro-tile {
	position: relative;
	height: 100px;
	width: 100%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 20px;
	line-height: 30px;
	overflow: scroll;
}

#news-tile {
	position: relative;
	height: 280px;
	/*height: 100%;*/
	width: 90%;
	background-color: #e9d8a6;
	margin-left: 0;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: scroll;
}

#news-tile span {
	position: absolute;
	top: 30px;
	left: 20px;
	font-size: 40px;
}

#news-tile ul {
	position: absolute;
	top: 100px;
	left: 50px;
}

#projects-tile {
	position: relative;
	height: 200px;
	width: 90%;
	background-color: #ca6702;
	margin-left: auto;
	margin-right: 0;
	margin-bottom: 20px;
	color: #463f3a;
	overflow: scroll;
}

#projects-tile span {
	position: absolute;
	top: 30px;
	right: 20px;
	font-size: 40px;
}

#projects-tile ul {
	position: absolute;
	top: 100px;
	left: 50px;
}

#publications-tile {
	position: relative;
	height: 700px;
	width: 90%;
	background-color: #005f73;
	margin-left: 0;
	margin-right: auto;
	margin-bottom: 20px;
	color: #f4f3ee;
	overflow: scroll;
}

#publications-tile span {
	position: absolute;
	top: 30px;
	left: 20px;
	font-size: 40px;
}

#publications-tile ul {
	position: absolute;
	top: 100px;
	left: 50px;
}

#education-tile {
	position: relative;
	height: 300px;
	width: 90%;
	background-color: #bcb8b1;
	margin-left: auto;
	margin-right: 0;
	margin-bottom: 20px;
	overflow: scroll;
}

#education-tile span {
	position: absolute;
	top: 30px;
	right: 20px;
	font-size: 40px;
}

#education-tile ul {
	position: absolute;
	top: 100px;
	left: 50px;
}


/*Device sizes*/

@media (min-width: 1300px) {}

@media (min-width: 992px) and (max-width: 1299px) {

	#tile-list li {
		font-size: 16px;
	}

	#news-tile {
		height: 320px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	#tile-list li {
		font-size: 16px;
		line-height: 20px;
	}

	#news-tile {
		height: 330px;
	}

	#projects-tile {
		height: 180px;
	}

	#publications-tile {
		height: 650px;
	}

	#education-tile {
		height: 250px;
	}

}

@media (min-width: 500px) and (max-width: 767px) {

	#tile-list li {
		font-size: 12px;
		line-height: 15px;
	}

	#intro-tile {
		height: 150px;
	}

	#publications-tile {
		height: 550px;
	}

	#education-tile {
		height: 200px;
	}

}

@media (max-width: 499px) {

	#name-font {
		font-size: 40px;
		padding-top: 40px;
		padding-bottom: 20px;
	}

	#title-font {
		font-size: 12px;
	}

	#tile-list li {
		font-size: 10px;
		line-height: 20px;
	}

	#intro-tile {
		height: 130px;
		font-size: 15px;
		text-align: left;
		padding-left: 30px;
	}

	#news-tile {
		height: 400px;
	}

	#projects-tile {
		height: 200px;
	}

	#publications-tile {
		height: 800px;
	}

	#education-tile {
		height: 300px;
	}

}



